In [3]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
df = pd.read_csv("counts.csv")
print(df.shape)
print(df["feature"][0])
labels = df["feature"].to_numpy()
print(len(labels))
print(labels)
frames = df.loc[0:5]
frames.head()

(14393, 1877)
Xkr4
14393
['Xkr4' 'Mrpl15' 'Lypla1' ... 'AC168977.1' 'PISD' 'DHRSX']

,feature,AAACCTGAGCGTGAAC-1,AAACCTGCACCAGGCT-1,AAACCTGGTCTCGTTC-1,AAACCTGGTGCTCTTC-1,AAACGGGAGCCACGTC-1,AAACGGGAGCGAGAAA-1,AAACGGGCACACCGAC-1,AAACGGGCAGTTTACG-1,AAACGGGCATGTCGAT-1,...,TTTCCTCGTTCCCTTG-1,TTTGCGCGTCTAGCGC-1,TTTGCGCGTCTCCATC-1,TTTGCGCTCTGTCAAG-1,TTTGGTTTCACCTCGT-1,TTTGGTTTCATGCATG-1,TTTGTCACATCGGTTA-1,TTTGTCACATTTCACT-1,TTTGTCAGTTGTGGAG-1,TTTGTCATCGACGGAA-1
0,Xkr4,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Mrpl15,0,0,1,0,2,0,5,0,0,...,1,0,0,1,2,0,3,0,0,0
2,Lypla1,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
3,Tcea1,0,0,0,0,2,2,1,0,0,...,1,0,0,0,0,0,1,0,0,0
4,Rgs20,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0

In [ ]:
for i in range(len(labels)):
    a = df.loc[i].to_numpy()
    print(a)
    a = a[1:]
    print(a)
    a = a[a != 0]
    plt.hist(a)
    plt.xlabel('number of appearances')
    plt.ylabel('count')
    plt.title(f"Distributition of {labels[i]}")
    plt.savefig(f"distribplots/{labels[i]}.png")
    plt.clf()